/* main-css.css */ 
/* Only to be used for pwManager */

/* Animations */
@keyframes nav-Hover {
    to {color: #ff4141;}
}

@keyframes nav-Active {
    to {color: #000;}
}

/* Standard body */
body {
    color: #665544;

    height: auto;
}

/* Top */
#t {
    padding: 0;

    border-bottom: 3px solid #efefef;



    z-index: 10;

}


.t_logo {
    float: left;
}

/* Top Account */
.t_account {
    display: inline;
    position: relative;

    background-color: #fff;

    margin: 0;
}

.t_accountLogoDefault {
    padding: 0;

    margin: 0;

    border: 2px solid #efefef;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;

    -moz-box-shadow: 3px 3px 3px #777;
    -webkit-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 3px 3px #777;
}

/* Navigator */
nav {
    background-color: #efefef;

    margin-top: 5px;
}

.n_li {
    padding: 0;
}

.n_li-l {
    display: inline-block;
    padding: 0 10px;
}

/* Pseudo-elements for nav */
a:hover {
    -moz-animation-name: nav-Hover;
    -moz-animation-duration: 0.5s;
    -moz-animation-fill-mode: forwards;

    -webkit-animation-name: nav-Hover;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
}

/* Topic */
.accountPlace {
    margin: 0;
}

#topic {
    margin-bottom: 3px;
}

/* Aside */
aside {
    background-color: #efefef;
}

.news_section {
    margin-top: -36px;
}

.news_aside {
    height: 188.8px;

    overflow: auto;
}


.ns {
    padding: 2px;

    margin: auto 1px 20px;
    
    border: 1px solid #525252;
}

.ns-ul {
    padding: 0
}

.more_links {
    text-align: center;

    padding-bottom: 3px;

    border-bottom: 1px solid #000;
}

/* Articles */
.articles {
    padding: 0;

    margin: 5px auto;
}

.article {
    height: 188.8px;

    background-color: #efefef;

    padding: 3px;

    overflow: auto;
}

.a-ul {
    padding: 0
}

/* Why row */
.why_row {
    margin: 10px auto
}

.why_row0 {
    height: auto;
    background-color: #efefef;
    padding: 10px;
    margin: auto auto 7px;
   

    -moz-box-shadow: 3px 3px 3px #777;
    -webkit-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 3px 3px #777;
}

.why_row0 h3 {
    color: white
}

.why_row0 h4 {
    color: white
}

.why_row_1 {
    background-color: #ff0000;
}

.why_row_2 {
    background-color: #00ff6c;
}

/* Footer */
.copyright {
    background-color: #efefef;

    text-align: center;

    margin: 5px auto;
}


.foot-span2 {
    float: right;
    color: #a0a0a0
}

/* misc. */
.block {
    display: block;
}

.inline {
    display: inline;
}

/* Rest of css inside other scripts. */